<h2><%= @team.name %></h2>
<p>City: <%= @team.city %></p>
<p>Owner: <%= @team.owner %></p>
<p>Does Team Hold Title? <%= @team.title_holder %></p>
<p>Titles Won: <%= @team.titles_won %></p>
<p>Players On Roster: <%= @player_count %></p>
<%= link_to "Player List", "/teams/#{@team.id}/players" %>
<%= link_to "Update Team", "/teams/#{@team.id}/edit" %>
<%= link_to "Delete #{@team.name}", "/teams/#{@team.id}/delete" %>