<h2><%= @player.name %></h2>
<p>Salary: $<%= @player.salary %></p>
<p>US Citizen? <%= @player.citizen %></p>
<p>Eligible for Trade? <%= @player.trade_eligible %></p>
<p>Contract Length in Months: <%= @player.contract_length_months %></p>

<%= link_to "Update Player", "/players/#{@player.id}/edit", method: :patch %>
<%= link_to "Delete #{@player.name}", "/players?id=#{@player.id}", method: :delete %>